.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.min-vh-100 {
  min-height: 100vh;
}
.vh-100 {
  height: 100vh;
}
.h-100 {
  height: 100%;
}
.align-items-center {
  vertical-align:middle;
}
.text-black-50 {
  color: rgba(0,0,0,.5);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.float-right {
  float: right !important;
}
.radio-half {
  width: 43%;
}
.w-100 {
  width: 100% !important;
}
.py-1 {
  padding: 1em 0;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
.fs-3 {
  font-size: 3em;
}
.material-design-icon.icon-3x {
  height: 3em;
  width: 3em;
}
.material-design-icon.icon-3x > .material-design-icon__svg {
  height: 3em;
  width: 3em;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-4 {
  margin-top: 4em;
}
.mb-0 {
  margin-bottom: 0em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mr-1 {
  margin-right: 1em;
}
.mr-2 {
  margin-right: 2em;
}
.ml-1 {
  margin-left: 1em;
}
.ml-auto, .mx-auto {
  margin-left: auto;
}
.input-lg {
  font-size: 1rem;
  line-height: 1.5;
  height: calc(1.5em + 1rem + 2px);
}
.text-brand {
  color: #29526b;
}
.text-info {
  color: #909399;
}
.text-info {
  color: #909399;
}
.text-success {
  color: #67C23A;
}
.text-danger {
  color: #F56C6C;
}
.text-white {
  color: #FFFFFF;
}
.fullscreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}