:root {
  --brand: #29526b;
  --dark-orange: #f67A1C;
  --light-steel: #f2f4f4;
  --light-slate: #94acb4;
  --light-slate-gray: #7791a1;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
.bg-brand {
  background-color: var(--brand);
}
.bg-light {
  background-color: var(--light);
}
.bg-light-steel {
  background-color: var(--light-steel);
}
.bg-light-slate {
  background-color: var(--light-slate);
}
.bg-light-slate-gray {
  background-color: var(--light-slate-gray);
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-95 {
  width: 95%;
}
.min-vh-100 {
  min-height: 100vh;
}
.vh-100 {
  height: 100vh;
}
.h-100 {
  height: 100%;
}
.align-items-center {
  vertical-align:middle;
}
.text-black-50 {
  color: rgba(0,0,0,.5);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.float-right {
  float: right !important;
}
.radio-half {
  width: 43%;
}
.w-100 {
  width: 100% !important;
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 1em;
}
.pt-1 {
  padding-top: 1em;
}
.py-1 {
  padding: 1em 0;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-bolder {
  font-weight: 900;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
.fs-3 {
  font-size: 3em;
}
.fs-4 {
  font-size: 4em;
}
.material-design-icon.icon-3x {
  height: 3em;
  width: 3em;
}
.material-design-icon.icon-3x > .material-design-icon__svg {
  height: 3em;
  width: 3em;
}
.mt-0 {
  margin-top: 0em;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mb-0 {
  margin-bottom: 0em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-3 {
  margin-bottom: 3em;
}
.mb-4 {
  margin-bottom: 4em;
}
.mr-1 {
  margin-right: 1em;
}
.mr-2 {
  margin-right: 2em;
}
.ml-1 {
  margin-left: 1em;
}
.ml-auto, .mx-auto {
  margin-left: auto;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.border-0 {
  border: 0;
}
.border-brand {
  border-color: var(--barnd);
}
.border-light-steel {
  border-color: var(--light-steel);
}
.border-light-slate {
  border-color: var(--light-slate);
}
.border-light-slate-gray {
  border-color: var(--light-slate-gray);
}
.input-lg {
  font-size: 1rem;
  line-height: 1.5;
  height: calc(1.5em + 1rem + 2px);
}
.text-brand {
  color: var(--brand);
}
.text-info {
  color: #909399;
}
.text-info {
  color: #909399;
}
.text-success {
  color: #67C23A;
}
.text-danger {
  color: #F56C6C;
}
.text-white {
  color: #FFFFFF;
}
.fullscreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}